// scss全局变量
$color:  red;
// 左侧菜单宽度
$base-menu-width:  260px;
$base-menu-background: rgb(10, 9, 9);
$base-menu-min-width: 50px;

$base-tabber-height: 50px;

// logo高度设置
$base-menu-logo-height: 50px;

// logo右侧文字大小
$base-logo-title-fontSize: 20px;